body{
  padding-top: 50px;
  margin: 0;
}

.navbar {
  height: 50px;
}

#map {
  width: 100%;
  height: 575px;
  background-color: #ffffff;
  
  margin-bottom: 20px;
  border-bottom-color: #eee;
  border-bottom-width: 1px;  
  border-bottom-style: solid;
}

.btn-1 {
  background-color: #C4DFF6;
}
.btn-1:hover,
.btn-1:focus {
  background-color: #56A0D3;  
}

.btn-2{
  background-color: #8ec06c;
}
.btn-2:hover,
.btn-2:focus {
  background-color: #537b35;  
}

.modal-dialog {
  width: 70%;
  height:90%;    
}

#arclogo {
  position: absolute;
  right:0;
  z-index: 1000;
  margin: 15px;
  height: 55px;
}

.navbar-brand {
  max-width: none;
}

.thumbnail{
  margin-top: 15px;
  margin-bottom: 15px;
}

.thumbnail:hover {
  text-decoration: none;
}

.thumbnail {
  min-height:310px;  /*set to largest thumbnail, so all boxes match*/
}


@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}